h1 {
    color: purple;
}

a:hover{ color: blue;}
a:active { color: red;}
a:visited{ color: azure;}

body {
    background: linear-gradient(#033D78, #00080F);
}

div#wrapper{
    margin:auto;
    background:#ba6227;
    width: 800px;
    height: 2000px;
    
}
